table {
    border: 2px solid rgb(200, 200, 200);
}

tr {
    display: flex;
}

td {
    background-color: rgb(120, 194, 235);
    display: block;
    width: 30px;
    height: 20px;
    margin: 3px;
}

tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even){
    background-color: rgb(219,112,147);
}

.hidden {
    visibility: hidden;
}

.hovered {
    opacity: 0.5;
}